name: Cloudflare Wrangler Deploy

on:
  push:
    branches:
      - main
  release:
    types: [created]

permissions:
  contents: read
  checks: write  # For test result publishing
  pull-requests: write  # For commenting on PRs
  id-token: write # For Codecov

jobs:
  test:
    runs-on: ubuntu-latest
    name: Build and Test
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Use Node.js 22
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: '22.x'
      - run: npm ci
      - run: npm run build --if-present
      - run: npm test
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        if: (!cancelled())
        with:
          name: test-results
          path: junit-report.xml
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        if: (!cancelled())
        with:
          use_oidc: true
          fail_ci_if_error: false
  beta-deploy:
    runs-on: ubuntu-latest
    needs: [test]
    if: github.event_name == 'push'
    name: Deploy to Beta
    environment: beta
    permissions:
      contents: read
      deployments: write
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Deploy
        uses: cloudflare/wrangler-action@da0e0dfe58b7a431659754fdf3f186c529afbe65 # v3.14.1
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          wranglerVersion: 4
          command: deploy --env beta
  prod-deploy:
    runs-on: ubuntu-latest
    needs: [test]
    if: github.event_name == 'release'
    name: Deploy to PROD
    strategy:
      matrix:
        environment: ['public', 'eus1', 'global']
    environment: ${{ matrix.environment }}
    permissions:
      contents: read
      deployments: write
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Deploy
        uses: cloudflare/wrangler-action@da0e0dfe58b7a431659754fdf3f186c529afbe65 # v3.14.1
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          wranglerVersion: 4
          command: deploy --env ${{ matrix.environment }}
